<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/index.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<title>docs_xl</title>
</head>
<body>
	<div class="logo"></div>
	<div class="copy">Copyright&copy;2016</div>

	<script>
		window.onload=function(){
			setTimeout(function(){
				window.location='./login/login.html'
			},2000)
			
		}
	</script>
</body>
</html>