@import "./denglu.styl"
body
	background #EFEFF4
.gerenziliao_header
	height 40px
	line-height 40px
	margin-bottom 10px
	.header_left
		height 40px
		background url(../../img/nav_back_icon@2x.png) no-repeat left 15px center
		display inline-block
		background-size 10px 18px
		text-align center
		width 100%
		color black
		line-height 40px
		background-color #fff
		border-bottom 1px solid #cecece	
.gerenziliao_content_box
	background #fff	
ul,li
	list-style none
.gerenziliao_content_box
	padding 0 10px	
.gerenziliao_content
	height 39px
	border-bottom 1px solid #F2F2F2
	line-height 39px
	display flex 		
.gerenziliao_content_tx
	color #7A7A7A	
	width 130px
	font-size 14px
	display inline-block
.gerenziliao_content_neirong
	overflow hidden
	flex 1
	font-size 14px
	display inline-block
.gerenziliao_content_jiantou
	display inline-block
	width 40px
	background url(../../img/nav_back_icon@2you.png) no-repeat center
	background-size 8px 14px
.gerenziliao_content_touxiang
	display block
	width 39px
	height 39px
	background url(../../img/20160915184656_TrwKP.thumb.700_0.jpeg) no-repeat center
	background-size 100%
	overflow hidden	
	border-radius 50%
.gerenziliao_tanchuang
	background #fff
	position absolute
	bottom 0
	left 0
	right 0
	padding 0 10px
	display none
.gerenziliao_tanchuang_child
	text-align center
	height 40px
	border-bottom 1px solid #ECEDEF
	color black
	line-height 40px
	&:last-child
		color #E95008
		border none
.gerenziliao_content_black
	height 100%
	width 100%
	background rgba(0,0,0,0.4)
	position fixed
	left 0
	top 0			
	display none