*
	font-family Heiti SC
	margin 0
	padding 0
.ps_title
	color black !important
.ps_bd
	height 177px
	text-align center
	line-height 20px
	background #fff
	padding-top 20px
	border-bottom 1px solid #cecece
.ps_img
	width 69px
	height 69px
	border-radius 50%
	background url(../../img/persontouxiang.png) no-repeat center
	background-size 100%
	margin 0 auto
	margin-bottom 5px
.ps_nicheng
	font-size 18px	
.ps_qianming
	font-size 12px	
	color #7F7F7F
.ps_edit
	width 94px
	height 29px
	font-size 12px
	border none
	border 1px solid #EA5404
	background #fff
	border-radius 4px
	color #EA5404
	margin-top 10px	
	outline none
ul,li
	list-style none
.ps_information
	min-height 120px
	background #fff
	margin-top 10px	
	padding 0 10px
	li
		border-bottom 1px solid #F2F2F2
		font-size 14px
		line-height 33px
		display flex
		.ps_term
			color #686868
			flex 2
		.ps_content
			flex 3
.ps_foot
	display flex
	padding 20px 10px
	background #fff			
.ps_foot_picb
	float left
	flex 1
	text-align center
.ps_foot_pic
	width 100px
	height 64px
	background	#878787
	border-radius 4px
	margin 0 auto	
.ps_pic_name
	font-size 12px
	color #7F7F7F		
