@import "./me.styl"
@import "./xinxi_xuqiu.styl"
.me_bottom_xx
	background url(../../img/bottom_nor_icon02@2x.png) no-repeat center !important
	background-size 100% !important	
.me_bottom_sy
	background url(../../img/bottom_press_icon04@2x.png) no-repeat center !important
	background-size 100% !important
.first_top
	padding 10px
	color #fff
	position absolute
	left 10px
	top 0
	right 10px
	z-index 5
.first_head	
	width 100%
	height 64px
	background url(../../img/banner_img_shadow@2x.png) no-repeat center top 
	background-size 100%
	position absolute
	z-index 3
.first_top_area
	width 15%
	float left
	height 20px
	font-size 16px
	line-height 20px
.first_top_kong
	width 15%
	float left
	height 20px
	&:after
		content ''
		clear both
.first_name
	text-align center
	width 80%	
	font-size 18px
	line-height 20px
.area_pic
	display inline-block
	width 8px
	height 12px
	background url(../../img/nav_icon_down@2x.png) no-repeat center	
	background-size 8px 4px	
	margin-left 2px	
.first_top_search
	width 100%
	height 33px
	line-height 33px
	background #fff
	border-radius 4px
	margin-top 15px
	color #B4B4B4
.search_pic
	display inline-block
	width 13px
	height 13px
	background url(../../img/nav_icon_search@2x.png) no-repeat center
	background-size 100%
	margin-right 10px
	vertical-align text-bottom
.lbt_dian
	width 7px
	height 7px
	display block
	float left
	background url(../../img/banner_icon_point_nor@2x.png) no-repeat center	
	background-size 100%
	margin-left 10px
.lbt_dian_box	
	position absolute
	width 78px
	height 10px
	left 50%
	margin-left -39px
	bottom 10%
	.lbt_active
		background url(../../img/banner_icon_point_press@2x.png) no-repeat center
		background-size 100%
.search_tx
	font-size 14px
.search_box
	margin 0 auto
	width 130px	
	text-align center
.lbt_pic	
	background url(../../img/banner_img@2x.png) no-repeat center
	background-size 100%
	float left
.lbt_pic:nth-child(2)
	background red	
.lbt_pic:nth-child(4)
	background red		
.first_lbt_bg
	overflow hidden
	margin-bottom 10px 
	position relative
.first_option_box
	width 100%
	display flex
	height 24px
	padding 10px 0
	background #fff
	border-bottom 1px solid #E0E1E4	
.first_option
	width 81px
	text-align center
	background url(../../img/content_icon02_nor@2x.png) no-repeat center bottom 
	background-size 7px 4px
	color #6F6F6F
	font-size 14px
	border-right 1px solid #E0E1E4
.first_sort
	flex 1
	background url(../../img/content_icon01_nor@2x.png)	no-repeat center
	background-size 18px
.first_content_pic
	width 128px
	height 90px
	background url(../../img/content_img_list@2x.png) no-repeat center
	background-size 100%
	float left
.first_content_box
	padding 10px
	background #fff
	display flex
.first_content_tx			
	float right
	flex 1
	padding-left 20px
.content_collection
	display inline-block
	width 14px
	height 13px
	background url(../../img/collect_icon_nor@2x.png) no-repeat center
	background-size 100%
	float right
	margin-right 20px
.place_name
	font-size 12px
	color #7E7E7E
.content_point
	display block
	width 54px
	height 16px
	border 1px solid #EA5404
	font-size 12px
	text-align center
	line-height 16px
	color #EA5404
	border-radius 4px
	margin 3px 0
.content_price
	color #EA5404
	font-size 18px
.content_company
	color #646464
	font-size 12px
.content_commission
	font-size 12px
	color #646464
	text-align right
	flex 1
.content_details
	display flex
	line-height 15px
	margin-top 8px	
.first_option active
	color #EA5404
	background url(../../img/content_icon02_press@2x.png) no-repeat center	


