*
	font-family Heiti SC
	margin 0
	padding 0
body
	background #b2b2b2	
.wancheng_box
	background #fff
	border-radius 6px
	width 270px
	height 110px
	position absolute
	top 50%
	left 50%
	margin-top -55px
	margin-left -135px
.wancheng_neirong
	height 65px
	text-align center
	line-height 65px
	border-bottom 1px solid #EBEBEE	
.wancheng_queren
	height 45px
	text-align center
	color #EB5C14
	line-height 45px	
