* {
  font-family: Heiti SC;
  margin: 0;
  padding: 0;
}
.dls_title {
  font-size: 14px;
  color: #bebebe;
  height: 31px;
  line-height: 31px;
}
.dls_portrait_box {
  width: 120px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 auto;
}
.dls_portrait {
  width: 65px;
  height: 65px;
  background: #878787;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.dls_btx {
  padding: 10px;
  background: #fff;
}
.dls_btx_input {
  display: block;
  font-size: 14px;
  width: 229px;
  height: 29px;
  background: #efeff4;
  border: none;
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 5px;
}
.dls_xtx {
  padding: 10px;
  background: #fff;
  display: flex;
  color: #fff;
  font-size: 12px;
  line-height: 64px;
}
.dls_wc_box {
  padding: 44px 10px 0px 10px;
}
.dls_wc {
  width: 100%;
  border: none;
  height: 44px;
  background: #ea5404;
  color: #fff;
  border-radius: 6px;
}
.addpic {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 90px;
  opacity: 0;
}
.ps_foot_pic {
  position: relative;
}
