* {
  font-family: Heiti SC;
  margin: 0;
  padding: 0;
}
body {
  background: #b2b2b2;
}
.wancheng_box {
  background: #fff;
  border-radius: 6px;
  width: 270px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -135px;
}
.wancheng_neirong {
  height: 65px;
  text-align: center;
  line-height: 65px;
  border-bottom: 1px solid #ebebee;
}
.wancheng_queren {
  height: 45px;
  text-align: center;
  color: #eb5c14;
  line-height: 45px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: #efeff4;
}
.fabuxuqiu_header {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #e5e6ea;
}
.fabuxuqiu_header .header_left {
  display: inline-block;
  background-size: 10px 18px;
  text-align: center;
  width: 100%;
  color: #000;
  line-height: 40px;
  background-color: #fff;
  flex: 1;
}
.fabuxuqiu_header .fabuxuqiu_header_xuqiao {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 12px;
}
.fabuxuqiu_header .fabuxuqiu_header_xuqiao:nth-child(3) {
  color: #f00;
}
.fabuxuqiu_ipt {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  border: 1px solid #e5e6ea;
  height: 43px;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
.fabuxuqiu_bd_box {
  padding: 0 15px;
}
.fabuxuqiu_nr {
  height: 300px;
}
.wancheng_sm {
  display: flex;
}
.wancheng_quxiao {
  flex: 1;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-right: 1px solid #ebebee;
}
.wancheng_queren {
  flex: 1;
}
.wancheng_neirong {
  font-size: 12px;
}
.bd_black {
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.wancheng_box {
  display: none;
}
