* {
  font-family: Heiti SC;
  margin: 0;
  padding: 0;
}
body {
  background: #efeff4;
}
.header {
  height: 40px;
  line-height: 40px;
}
.header_right {
  width: 16px;
  height: 40px;
  background: url("../../img/nav_set_icon@2x.png") no-repeat right 15px center;
  display: inline-block;
  background-size: 16px 16px;
  text-align: center;
  width: 100%;
  line-height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #cecece;
}
.me_head {
  height: 140px;
  border-bottom: 1px solid #f4f4f5;
  margin-top: 10px;
  background: #fff;
}
.me_pic_box {
  height: 65px;
  border-bottom: 1px solid #f4f4f5;
  padding: 15px 10px;
  line-height: 65px;
  background: url("../../img/login_right_icon@2x.png") no-repeat right 15px center;
  background-size: 10px 18px;
}
.me_pic {
  width: 64px;
  height: 64px;
  background: url("../../img/persontouxiang.png") no-repeat center;
  background-size: 100%;
  float: left;
}
.me_dlorzc {
  float: left;
  margin-left: 10px;
}
.me_tx_box {
  padding: 10px;
  display: flex;
}
.me_tx {
  flex: 1;
  text-align: center;
  line-height: 24px;
}
.me_tx .me_tx_zw {
  color: #737373;
  font-size: 12px;
}
.me_tx .me_tx_sz {
  font-size: 18px;
}
ul,
li {
  list-style: none;
}
.me_xm li {
  height: 49px;
  border-bottom: 1px solid #f4f4f5;
  margin-top: 10px;
  line-height: 49px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right 15px center;
  background-color: #fff;
  background-size: 8px 15px;
}
.me_xm li span {
  float: left;
}
.me_xq {
  display: block;
  width: 40px;
  height: 49px;
  background: url("../../img/content_list_icon01@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.me_fb {
  display: block;
  width: 40px;
  height: 49px;
  background: url("../../img/content_list_icon02@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.me_yy {
  display: block;
  width: 40px;
  height: 49px;
  background: url("../../img/content_list_icon05@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.me_ls {
  display: block;
  width: 40px;
  height: 49px;
  background: url("../../img/content_list_icon03@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.me_gq {
  display: block;
  width: 40px;
  height: 49px;
  background: url("../../img/content_list_icon04@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.me_bottom {
  height: 39px;
  background: #fff;
  border-top: 1px solid #f4f4f5;
  padding: 5px 0px;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
}
.me_bottom li {
  flex: 1;
  position: relative;
}
.me_bottom li span {
  display: block;
  font-size: 14px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 4px;
}
.me_bottom li .me_bottom_sy {
  width: 23px;
  height: 21px;
  background: url("../../img/bottom_nor_icon04@2x.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}
.me_bottom li .me_bottom_yy {
  width: 23px;
  height: 21px;
  background: url("../../img/bottom_nor_icon03@2x.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}
.me_bottom li .me_bottom_xx {
  width: 21px;
  height: 21px;
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}
.me_bottom li .me_bottom_me {
  width: 21px;
  height: 21px;
  background: url("../../img/bottom_press_icon01@2x.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}
.me_bottom li .me_bottom_gd {
  width: 44px;
  height: 38px;
  background: url("../../img/bottom_icon05@2x.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}
.me_active {
  color: #ea5404 !important;
}
.me_xx_num {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ea5404;
  right: 20px;
  top: -4px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 15px;
}
* {
  font-family: Heiti SC;
  margin: 0;
  padding: 0;
}
body {
  background: #efeff4;
}
.header {
  height: 30px;
  padding: 10px;
  background: #fff;
}
.header .xinxi_title {
  text-align: center;
  border: 2px solid #ea5404;
  border-radius: 4px;
  margin: 0 auto;
  width: 255px;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.header .xinxi_title span {
  flex: 1;
  display: block;
  color: #ea5404;
  position: relative;
}
.header .xinxi_title span:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #ea5404;
  height: 30px;
}
.header .xinxi_title span:last-child:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-right: none;
  height: 30px;
}
.active {
  color: #fff !important;
  background: #ea5404 !important;
}
ul,
li {
  list-style: none;
}
.xinxi_bd {
  padding: 15px;
}
.xinxi_bd li {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 129px;
  box-shadow: 0 0 6px #cecece;
}
.xinxi_bd_top {
  display: flex;
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 34px;
}
.xinxi_bd_type {
  text-align: center;
  width: 44px;
  height: 18px;
  background: #15b755;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 18px;
  display: inline-block;
  margin: 8px 5px;
}
.xinxi_bd_title {
  flex: 1;
}
.xinxi_bd_middle {
  font-size: 14px;
  margin-top: 10px;
}
.xinxi_bd_more {
  border: 2px solid #ececf0;
  border-radius: 4px;
  background: #efeff4;
  width: 83px;
  height: 23px;
  display: inline-block;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  color: #646464;
  flex: 1;
  margin: 10px 0px 5px 0;
}
.xinxi_bd_foot {
  display: flex;
  text-align: center;
}
.xinxi_bd_time {
  flex: 1;
  text-align: right;
  line-height: 42px;
  font-size: 14px;
  color: #999;
}
.xinxi_bd_timekong {
  flex: 1;
}
.me_bottom_me {
  width: 21px;
  height: 21px;
  background: url("../../img/bottom_nor_icon01@2x.png") no-repeat center !important;
  background-size: 100% !important;
  margin: 0 auto;
}
.me_bottom_xx {
  background: url("../../img/bottom_press_icon02@2x.png") no-repeat center !important;
  background-size: 100% !important;
}
.xinxi_bd_jjr {
  background: #0193e6;
}
.xinxi_bd_zs {
  background: #97b715;
}
.xinxi_bd_dls {
  background: #ea5404;
}
.me_bottom_xx {
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center !important;
  background-size: 100% !important;
}
.me_bottom_sy {
  background: url("../../img/bottom_press_icon04@2x.png") no-repeat center !important;
  background-size: 100% !important;
}
.first_top {
  padding: 10px;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 0;
  right: 10px;
  z-index: 5;
}
.first_head {
  width: 100%;
  height: 64px;
  background: url("../../img/banner_img_shadow@2x.png") no-repeat center top;
  background-size: 100%;
  position: absolute;
  z-index: 3;
}
.first_top_area {
  width: 15%;
  float: left;
  font-size: 16px;
  line-height: 20px;
}
.first_top_kong {
  width: 15%;
  float: left;
  height: 20px;
}
.first_top_kong:after {
  content: '';
  clear: both;
}
.first_name {
  text-align: center;
  width: 80%;
  font-size: 18px;
  line-height: 20px;
}
.area_pic {
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url("../../img/nav_icon_down@2x.png") no-repeat center;
  background-size: 8px 4px;
  margin-left: 2px;
}
.first_top_search {
  width: 100%;
  height: 33px;
  line-height: 33px;
  background: #fff;
  border-radius: 4px;
  margin-top: 15px;
  color: #b4b4b4;
  overflow: hidden;
}
.lbt_dian {
  width: 7px;
  height: 7px;
  display: block;
  float: left;
  background: url("../../img/banner_icon_point_nor@2x.png") no-repeat center;
  background-size: 100%;
  margin-left: 10px;
}
.lbt_dian_box {
  position: absolute;
  width: 78px;
  height: 10px;
  left: 50%;
  margin-left: -39px;
  bottom: 10%;
}
.lbt_dian_box .lbt_active {
  background: url("../../img/banner_icon_point_press@2x.png") no-repeat center;
  background-size: 100%;
}
.search_tx {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
}
.search_tx:before {
  content: '';
  width: 13px;
  height: 13px;
  background: url("../../img/nav_icon_search@2x.png") no-repeat center;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.search_box {
  margin: 0 auto;
  width: 130px;
  text-align: center;
}
.lbt_pic1 {
  background: url("../../img/banner_img@2x.png") no-repeat center;
  background-size: 100%;
  float: left;
}
.lbt_pic2 {
  background: url("../../img/0153177b5574d6d5270009df5c4d0264.jpg") no-repeat center;
  background-size: 100%;
  float: left;
}
.lbt_pic3 {
  background: url("../../img/20140628141104_PXLRN.thumb.700_0.jpeg") no-repeat center;
  background-size: 100%;
  float: left;
}
.lbt_pic4 {
  background: url("../../img/20140827062945_WYSeE.thumb.700_0.jpeg") no-repeat center;
  background-size: 100%;
  float: left;
}
.first_lbt_bg {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.first_option_box {
  width: 100%;
  display: flex;
  height: 24px;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #e0e1e4;
}
.first_option {
  flex: 1;
  text-align: center;
  background: url("../../img/content_icon02_nor@2x.png") no-repeat center bottom;
  background-size: 7px 4px;
  color: #6f6f6f;
  font-size: 14px;
  border-right: 1px solid #e0e1e4;
}
.first_sort {
  width: 65px;
  background: url("../../img/content_icon01_nor@2x.png") no-repeat center;
  background-size: 18px;
}
.first_content_pic {
  width: 128px;
  height: 90px;
  background: url("../../img/content_img_list@2x.png") no-repeat center;
  background-size: 100%;
  float: left;
}
.first_content_box {
  padding: 10px;
  background: #fff;
  display: flex;
  margin-bottom: 10px;
}
.first_content_tx {
  float: right;
  flex: 1;
  padding-left: 20px;
}
.content_collection {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url("../../img/collect_icon_nor@2x.png") no-repeat center;
  background-size: 100%;
  float: right;
  margin-right: 20px;
}
.content_collection_active {
  background: url("../../img/collect_icon_press@2x.png") no-repeat center;
  background-size: 100%;
}
.place_name {
  font-size: 12px;
  color: #7e7e7e;
}
.content_point {
  display: block;
  width: 54px;
  height: 16px;
  border: 1px solid #ea5404;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #ea5404;
  border-radius: 4px;
  margin: 3px 0;
}
.content_price {
  color: #ea5404;
  font-size: 18px;
}
.content_company {
  color: #646464;
  font-size: 12px;
}
.content_commission {
  font-size: 12px;
  color: #646464;
  text-align: right;
  flex: 1;
}
.content_details {
  display: flex;
  line-height: 15px;
  margin-top: 8px;
}
.first_option_active {
  color: #ea5404;
  background: url("../../img/content_icon02_press@2x.png") no-repeat center bottom;
  background-size: 7px 4px;
}
.first_option_bg {
  position: relative;
}
.first_option_option {
  background: #f0f0f0;
  height: 0px;
  transition: height 1s;
  overflow: hidden;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
}
.first_option_option li {
  width: 100%;
  background: #f0f0f0;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.first_option_option li:hover {
  background: #fff;
  transition: background 1s;
}
.first_option_option .first_option_shuru:hover {
  background: #f0f0f0;
}
.first_sort_down {
  background: url("../../img/content_icon01_down@2x.png") no-repeat center;
  background-size: 18px;
}
.first_sort_up {
  background: url("../../img/content_icon01_litre@2x.png") no-repeat center;
  background-size: 18px;
}
.first_lbt_bg_change {
  height: 0;
}
.first_top_change {
  position: fixed;
  background: #000;
  left: 0;
  right: 0;
}
.first_top_search_change {
  margin-top: 0;
  width: 65%;
  margin: 0 auto;
}
.first_top_area_change {
  line-height: 30px;
}
.first_option_box_change {
  position: fixed;
  top: 53px;
}
.first_option_option_change {
  position: fixed;
  top: 97px;
}
.first_lbt_bg_change {
  height: 88px;
}
.position_box_active {
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}
.first_option_ip {
  width: 70px;
  height: 30px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
.first_hengxian {
  width: 20px;
  border-top: 1px solid #cecece;
  display: inline-block;
  height: 1px;
  margin: 0 10px;
  vertical-align: super;
}
.first_option_queren {
  position: absolute;
  right: 30px;
  top: 0;
  border: none;
  background: #fff;
  font-size: 14px;
  width: 54px;
  height: 30px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
.first_option_shuru {
  position: relative;
}
.select_quyu {
  text-align: left;
  padding-left: 20px;
}
.select_quyu:hover {
  background: #fff;
}
.quyu {
  display: flex;
}
.quyu li:hover {
  background: #f0f0f0;
}
.select_quyu_box {
  flex: 1;
}
.select_diming_box {
  background: #fff !important;
  flex: 1;
  display: none;
}
.select_diming {
  text-align: left;
  margin-left: 20px;
  position: relative;
}
.select_diming:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #e0e1e4;
}
.select_diming:hover {
  color: #f00;
}
.fabu_background {
  background: rgba(0,0,0,0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 6;
  display: none;
}
.fabu_foot_box {
  height: 0;
  overflow: hidden;
  position: fixed;
  bottom: 110px;
  z-index: 7;
}
.xuqiu_pic {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: url("../../img/publish_btn02@2x.png") no-repeat center;
  background-size: 94px 94px;
  margin: 0 auto;
}
.xuqiu_tx {
  text-align: center;
  color: #fff;
  margin-top: 8px;
}
.fangyuan_pic {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: url("../../img/publish_btn02@2x.png") no-repeat center;
  background-size: 94px 94px;
  margin: 0 auto;
}
.fangyuan_tx {
  text-align: center;
  color: #fff;
  margin-top: 8px;
}
.fabu_foot_box {
  display: flex;
  width: 100%;
}
.fabu_xuqiu {
  flex: 1;
}
.fabu_fangyuan {
  flex: 1;
}
.guanbi {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #242221 url("../../img/publish_close_icon@2x.png") no-repeat center;
  background-size: 14px 14px;
  z-index: 7;
  display: none;
}
