* {
  font-family: Heiti SC;
  margin: 0;
  padding: 0;
}
body {
  background: #efeff4;
}
.header {
  height: 40px;
  line-height: 40px;
}
.header .header_left {
  height: 40px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat left 15px center;
  display: inline-block;
  background-size: 10px 18px;
  text-align: center;
  width: 100%;
  color: #ea5404;
  line-height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #cecece;
}
.srk_box {
  padding: 0 15px;
  background-color: #fff;
  margin-top: 20px;
  height: 100px;
  line-height: 50px;
  clear: both;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  overflow: hidden;
}
.srk_input {
  border: none;
  font-size: 14px;
  outline: none;
}
.srk_name {
  width: 20px;
  height: 20px;
  background: url("../../img/content_ID_icon@2x.png") no-repeat center;
  background-size: 100%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.srk_password {
  width: 16px;
  height: 20px;
  background: url("../../img/content_password_icon@2x.png") no-repeat center;
  background-size: 100%;
  display: inline-block;
  margin-right: 14px;
  vertical-align: text-bottom;
}
.srk_lbox {
  float: left;
}
.srk_rbox {
  float: right;
  flex: 1;
}
.srk_geshi {
  display: flex;
  border-bottom: 1px solid #cecece;
}
.btn_denglu {
  width: 100%;
  height: 43px;
  border-radius: 5px;
  background: #c7c7c7;
  border: none;
  color: #fff;
  margin: 0 auto;
  display: block;
  outline: none;
}
.btn_active {
  background: #ea5404;
}
.zhuce_box {
  padding: 0 15px;
  display: flex;
  margin-top: 24px;
  font-size: 14px;
}
.zhuce_left {
  color: #ff8a00;
}
.zhuce_right {
  text-align: right;
  flex: 1;
  color: #646464;
}
.btn_denglu_box {
  padding: 10px;
  margin-top: 45px;
}
