@import './me.css';
.header_right {
  background-image: none !important;
}
.header {
  margin-bottom: 10px;
}
.yuyue_each_pic {
  width: 100px;
  height: 70px;
  background: url("../../img/content_img@2x.png") no-repeat center;
  background-size: 100%;
}
.yuyue_each_massage {
  display: flex;
}
.yuyue_each_tx {
  flex: 1;
  padding: 0 10px;
}
.yuyue_each_title_box {
  font-size: 12px;
  display: flex;
}
.title_appellation {
  color: #787878;
  flex: 1;
}
.title_time {
  color: #bebebe;
  position: relative;
  display: block;
  padding-left: 15px;
}
.title_time:before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../../img/content_icon@2x.png") no-repeat center;
  background-size: 100%;
  left: 0;
  top: 0;
}
.each_content {
  font-size: 14px;
  color: #787878;
  text-indent: 15px;
  padding: 5px 0;
}
.content_iptt {
  color: #000;
}
.each_time {
  color: #ff9d42;
  font-size: 12px;
}
.jiedan_btn {
  width: 54px;
  height: 24px;
  color: #fff;
  background: #ea5404;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  float: right;
}
.yuyue_btn {
  overflow: hidden;
  height: 24px;
  text-align: right;
}
.yijiedan {
  font-size: 12px;
  display: none;
}
.me_bottom_me {
  background: url("../../img/bottom_nor_icon01@2x.png") no-repeat center !important;
  background-size: 100% !important;
}
.me_bottom_yy {
  background: url("../../img/bottom_press_icon03@2x.png") no-repeat center !important;
  background-size: 100% !important;
}
.yuyue_each_box {
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ebebee;
  float: left;
  box-sizing: border-box;
}
.yuyue_bgbox {
  width: 1000px;
  overflow: hidden;
}
.yuyue_delete {
  width: 66px;
  float: left;
  color: #fff;
  height: 115px;
  background: #ff3b30;
  line-height: 115px;
  text-align: center;
}
.yuyue_content_box {
  overflow-y: auto;
  overflow-x: hidden;
}
