<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/yuyuexiangqing.css">
	<title>Cloud_house - 杭州瑞栎网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
    杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
</head>
<body>
	<div class="header">
		<span class="header_left"><strong>订单详情</strong></span>	
	</div>
	<div class="yuyuexiangqing_title">预约人</div>
	<div class="yuyuexiangqing_yyr">
		<div class="yyr_pic"></div>
		<div class="yyr_tx">
			<div class="yyr_name">你才是张三</div>
			<div class="yyr_type">租户</div>
		</div>
		<div class="yyr_call"></div>
	</div>
	<div class="yuyuexiangqing_title">预约信息</div>
	<div class="yuyuexiangqing_xinxi">
		<div class="yuyue_didian"><strong>华旭国际大厦</strong></div>
		<div class="yuyue_xinxi_tx">
			<div class="yuyue_xinxi_tx_box">
				<div class="xinxi_tx">区域：黄浦-人民广场</div>
				<div class="xinxi_tx">面积：766m²</div>
			</div>
			<div class="yuyue_xinxi_tx_box">
				<div class="xinxi_tx">房型：商务中心</div>
				<div class="xinxi_tx">单价：&yen;5.5元/m²/天起</div>
			</div>
		</div>
	</div>
	<div class="yuyuexiangqing_title">预约状态</div>
	<div class="zhuangtai_box">
	<div class="yuyuexiangqing_zhuangtai">
		<div class="zhuangtai_time">
			<div class="time_riqi">08/10</div>
			<div class="time_date">周三</div>
		</div>
		<div class="zhuangtai_t">订单成功</div>
	</div>
	<div class="yuyuexiangqing_zhuangtai">
		<div class="zhuangtai_time">
			<div class="time_riqi">08/08</div>
			<div class="time_date">周一</div>
		</div>
		<div class="zhuangtai_t">已改期</div>
	</div>
	<div class="yuyuexiangqing_zhuangtai">
		<span class="zhuangtai_time">
			<div class="time_riqi">08/06</div>
			<div class="time_date">周六</div>
		</span>
		<span class="zhuangtai_t">已接单，待反馈</span>
	</div>
	</div>
	<div class="dingdanxiangqing_foot_box">
	<div class="dingdanxiangqing_foot">
		<div class="foot_btn">改期</div>
		<div class="foot_btn">达成</div>
		<div class="foot_btn">取消</div>
	</div>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/dingdanxiangqing.js"></script>
</body>
</html>