<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/fabufangyuan.css">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
<title>Cloud_house-杭州小蓓网络科技有限公司</title>
</head>
<body>
	<div class="fabuxuqiu_header">
		<span class="fabuxuqiu_header_xuqiao fabufangyuan_quxiao">取消</span>
		<span class="header_left"><strong>发布房源</strong></span>
		<span class="fabuxuqiu_header_xuqiao"></span>
	</div>
	<div class="fabufangyuan_search_box">
		<input class="fabufangyuan_search" type="text" placeholder="搜索想要发布的大厦"><span class="xinzengloupan">新增楼盘</span>
	</div>
	<div class="fabufangyuan_dasha_box">
		<div class="fabufangyuan_title"><strong>大厦信息</strong></div>
		<ul class="fabufangyuan_dasha_information">
			<li class="information_box"><span class="fabufangyuan_pr">商圈：</span><span class="fabufangyuan_tian">浦东-八佰伴</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">物业：</span><span class="fabufangyuan_tian">上海浦江物业有限公司</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">层数：</span><span class="fabufangyuan_tian">23层</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">层高：</span><span class="fabufangyuan_tian">标准4.5米，净高2.75米，大堂14.5米</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">车位：</span><span class="fabufangyuan_tian">地上30个，地下400个，1250元/月</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">电梯：</span><span class="fabufangyuan_tian">客梯8部，货梯2部，三菱电梯</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">空调：</span><span class="fabufangyuan_tian">集中式中央空调</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">入驻企业：</span><span class="fabufangyuan_tian">顺城商业地产(房地产/建筑)、大大集团</span></li>
			<li class="information_box"><span class="fabufangyuan_pr">地铁：</span><span class="fabufangyuan_tian">距离世纪大道站步行7分钟</span></li>
		</ul>
		</div>
		<div class="fangyuan_information">
			<div class="fangyuan_cls_tt"><strong>房源信息</strong></div>
			<div class="fangyuan_shuxing">请选择发布房源的属性</div>
			<div class="fangyuan_cls_box">
				<span class="fangyuan_cls">整层</span>
				<span class="fangyuan_cls">整栋</span>
				<span class="fangyuan_cls">众创空间</span>
				<span class="fangyuan_cls">商务中心</span>
				<span class="fangyuan_cls">创意产业园</span>
				<span class="fangyuan_cls">写字楼</span>
				<span class="fangyuan_cls">工位</span>
			</div>
			<ul class="fangyuan_state_box">
				<li class="fangyuan_state"><div class="fangyuan_state_name">房源面积</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="20" type="text"><span class="fangyuan_state_tx">m²</span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">房源单价</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="6.5" type="text"><span class="fangyuan_state_tx">元/m²/天</span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">交付状态</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" type="text"></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">交付日期</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="2015-06-21" type="text"><span class="fangyuan_state_tx shifouxianfang">是否现房</span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">最短租期</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option zuiduanzuqi" placeholder="3年" type="text"></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">付款方式</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="押三付一" type="text"><span class="fangyuan_state_tx shifoufapiao">是否含发票</span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">是否结佣</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="一个月" type="text"><span class="fangyuan_state_tx shifoujieyong">是</span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">装修免租</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option zhuangxiumianzu" placeholder="一个月" type="text"><span></span></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">看房时间</div><div class="fangyuan_state_option_bx"><input class="fangyuan_state_option" placeholder="8:00" type="text"><input class="fangyuan_state_option" placeholder="20:00" type="text"></div></li>
				<li class="fangyuan_state"><div class="fangyuan_state_name">房源简介</div><div class="fangyuan_state_option_bx"><textarea class="fangyuan_state_option fangyuanjianjie" placeholder="房源简介" type="text"></textarea></li>
				<li class="fangyuan_pic"><div class="add_pic">添加图片</div></li>
			</ul>
		</div>
		<div class="fabufangyuan_foot_box">
			<button class="fabufangyuan_queren">确认发布</button>
		</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/fabufangyuan.js"></script>
</body>
</html>