<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/fabuxuqiu.css">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
<title>Cloud_house-杭州小蓓网络科技有限公司</title>
</head>
<body>
	<div class="fabuxuqiu_header">
		<span class="fabuxuqiu_header_xuqiao fabu_quxiao">取消</span>
		<span class="header_left"><strong>发布需求</strong></span>
		<span class="fabuxuqiu_header_xuqiao fabu">发布</span>
	</div>
	<div class="fabuxuqiu_bd_box">
		<div class="fabuxuqiu_name"><input class="fabuxuqiu_ipt" type="text" placeholder="周杰伦"></div>
		<div class="fabuxuqiu_dh"><input class="fabuxuqiu_ipt" type="text" placeholder="18956214521"></div>	
		<div class="fabuxuqiu_content"><textarea class="fabuxuqiu_ipt fabuxuqiu_nr" type="text" placeholder="描述一下您的需求，比如黄埔100-200m²，5-6元/m²/天，环境好点，底层，临近地铁。"></textarea></div>
	</div>
	<div class="bd_black"></div>
	<div class="wancheng_box">
		<div class="wancheng_neirong">注册完成，等待后天确认</div>
		<div class="wancheng_sm"><div class="wancheng_quxiao">取消</div><div class="wancheng_queren">确认</div></div>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/fabuxuqiu.js"></script>
</body>
</html>