<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<title>docus_xl</title>
	<link rel="stylesheet" href="../public/css/login/first.css">
</head>
<body>
	<div class="first_head"></div>

	<div class="first_top">
		<div class="first_top_area"><span class="area_tx">上海</span><span class="area_pic"></span></div>
		<div class="first_name"><strong>云端</strong></div>
		<div class="first_top_kong"></div>
		<div class="first_top_search"><div class="search_box"><span class="search_pic"></span><span class="search_tx">挑好房，上云端</span></div></div>
	</div>
	<div class="first_lbt_bg">
	<ul class="first_lbt_box">
		<li class="lbt_pic lbt_pic1"></li>
		<li class="lbt_pic lbt_pic2"></li>
		<li class="lbt_pic lbt_pic3"></li>
		<li class="lbt_pic lbt_pic4"></li>
		</ul>
		<div class="lbt_dian_box"><span class="lbt_dian lbt_active"></span><span class="lbt_dian"></span><span class="lbt_dian"></span><span class="lbt_dian"></span></div>
	
	</div>
	<div class="position_box"></div>
	<div class="first_option_bg">
	<ul class="first_option_box">
		<li class="first_option">区域</li>
		<li class="first_option">面积</li>
		<li class="first_option">单价</li>
		<li class="first_option">更多</li>
		<li class="first_sort"></li>
	</ul>
	<ul class="first_option_option quyu">
		<li class="select_quyu_box">
		<div class="select_quyu">全部</div>
		<div class="select_quyu">闵行</div>
		<div class="select_quyu">浦东</div>
		<div class="select_quyu">嘉定</div>
		<div class="select_quyu">宝山</div>
		<div class="select_quyu">闸北</div>
		<div class="select_quyu">松江</div>
		<div class="select_quyu">青浦</div>
		<div class="select_quyu">浦东</div>
		<div class="select_quyu">嘉定</div>
		<div class="select_quyu">宝山</div>
		<div class="select_quyu">闸北</div>
		<div class="select_quyu">松江</div>
		<div class="select_quyu">青浦</div>
		<div class="select_quyu">浦东</div>
		<div class="select_quyu">嘉定</div>
		<div class="select_quyu">宝山</div>
		<div class="select_quyu">闸北</div>
		<div class="select_quyu">松江</div>
		<div class="select_quyu">青浦</div>
		</li>
		<li class="select_diming_box">
			<div class="select_diming">全部</div>
			<div class="select_diming">八佰伴</div>
			<div class="select_diming">川沙</div>
			<div class="select_diming">花木</div>
			<div class="select_diming">金桥</div>
		</li>
	</ul>
	<ul class="first_option_option mianji">
		<li>全部</li>
		<li>100m²以下</li>
		<li>100-200m²</li>
		<li>200-300m²</li>
		<li>300-500m²</li>
		<li>500-1000m²</li>
		<li>1000m²以上</li>
		<li class="first_option_shuru"><input class="first_option_ip" type="text"><span class="first_hengxian"></span><input class="first_option_ip" type="text"><button class="first_option_queren">确定</button></li>
	</ul>
	<ul class="first_option_option danjia">
		<li>全部</li>
		<li>3元/m²/天以下</li>
		<li>3-4元/m²/天</li>
		<li>4-5元/m²/天</li>
		<li>5-7元/m²/天</li>
		<li>7-9元/m²/天</li>
		<li>9-12元/m²/天</li>
		<li>12元/m²/天以上</li>
		<li class="first_option_shuru"><input class="first_option_ip" type="text"><span class="first_hengxian"></span><input class="first_option_ip" type="text"><button class="first_option_queren">确定</button></li>
	</ul>
	<ul class="first_option_option gengduo">
		<li>7</li>
		<li>8</li>
	</ul>
	</div>

	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>

	<ul class="me_bottom">
		<li><span class="me_bottom_sy"></span><span class="me_active">首页</span></li>
		<li><span class="me_bottom_yy"></span><span>预约</span></li>
		<li><span class="me_bottom_gd"></span></li>
		<li><span class="me_bottom_xx"></span><span>信息</span></li>
		<li><span class="me_bottom_me"></span><span>我</span></li>
	</ul>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<!-- <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script> -->
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/first.js"></script>
</body>
</html>