<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<title>docus_xl</title>
	<link rel="stylesheet" href="../public/css/login/first.css">
</head>
<body>
	<div class="first_head"></div>
	<div class="first_top">
		<div class="first_top_area"><span class="area_tx">上海</span><span class="area_pic"></span></div>
		<div class="first_name"><strong>云端</strong></div>
		<div class="first_top_kong"></div>
		<div class="first_top_search"><div class="search_box"><span class="search_pic"></span><span class="search_tx">挑好房，上云端</span></div></div>
	</div>
	<div class="first_lbt_bg">
	<ul class="first_lbt_box">
		<li class="lbt_pic"></li>
		<li class="lbt_pic"></li>
		<li class="lbt_pic"></li>
		<li class="lbt_pic"></li>
		</ul>
		<div class="lbt_dian_box"><span class="lbt_dian lbt_active"></span><span class="lbt_dian"></span><span class="lbt_dian"></span><span class="lbt_dian"></span></div>
	
	</div>
	<ul class="first_option_box">
		<li class="first_option">区域</li>
		<li class="first_option">面积</li>
		<li class="first_option">单价</li>
		<li class="first_option">更多</li>
		<li class="first_sort"></li>
	</ul>
	<div class="first_content_box">
		<div class="first_content_pic"></div>
		<div class="first_content_tx">
			<div class="content_tx_title"><span class="tx_title_name"><strong>东方金融中心</strong></span><span class="content_collection"></span></div>
			<div class="content_place"><span class="place_name">浦东-八佰伴</span></div>
			<div class="content_point_box"><span class="content_point">商务中心</span></div>
			<div class="content_details"><span class="content_price">&yen;7</span><span class="content_company">元/平米/天起</span><span class="content_commission">佣金：1个月</span></div>
		</div>
	</div>
	<ul class="me_bottom">
		<li><span class="me_bottom_sy"></span><span class="me_active">首页</span></li>
		<li><span class="me_bottom_yy"></span><span>预约</span></li>
		<li><span class="me_bottom_gd"></span></li>
		<li><span class="me_bottom_xx"></span><span>信息</span></li>
		<li><span class="me_bottom_me"></span><span>我</span></li>
	</ul>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/first.js"></script>
</body>
</html>