<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/login/login.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<title>docus_xl</title>
</head>
<body>
	<div class="header">
		<span class="header_left"><strong>登录</strong></span>	
	</div>
	<div class="srk_box">
		<div class="srk_geshi"><div class="srk_lbox"><span class="srk_name"></span><span>账号：</span></div><div class="srk_rbox"><input class="srk_input" type="text" placeholder="请输入您的手机号"></div></div>
		<div class="srk_geshi"><div class="srk_lbox"><span class="srk_password"></span><span>密码：</span></div><div class="srk_rbox"><input class="srk_input" type="text" placeholder="请输入您的账号密码"></div></div>
	</div>
	<button class="btn_denglu">登录</button>
	<div class="zhuce_box"><span class="zhuce_left">注册</span><span class="zhuce_right">忘记密码？</span></div>
</body>
</html>