<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/me.css">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
<title>Cloud_house-杭州小蓓网络科技有限公司</title>
<body>
	<div class="header">
		<span class="header_right"><strong>我</strong></span>
	</div>
	<div class="me_head">
		<div class="me_pic_box">
			<div class="me_pic"></div>
			<div class="me_dlorzc"><strong>点击登录/注册</strong></div>
		</div>
		<div class="me_tx_box">
			<div class="me_tx"><span class="me_tx_sz"><strong>0</strong></span><span class="me_tx_zw">&nbsp收藏</span></div>
			<div class="me_tx"><span class="me_tx_sz"><strong>0</strong></span><span class="me_tx_zw">&nbsp积分</span></div>
		</div>
	</div>
	<ul class="me_xm">
		<li><span class="me_xq"></span><span><strong>我发布的需求</strong></span></li>
		<li><span class="me_fb"></span><span><strong>我发布的房源</strong></span></li>
		<li><span class="me_yy"></span><span><strong>我预约的房源</strong></span></li>
		<li><span class="me_ls"></span><span><strong>历史交易</strong></span></li>
		<li><span class="me_gq"></span><span><strong>过期房源</strong></span></li>
	</ul>
	<ul class="me_bottom">
		<li id="shouye"><span class="me_bottom_sy"></span><span>首页</span></li>
		<li id="yuyue"><span class="me_bottom_yy"></span><span>预约</span></li>
		<li id="fabu"><span class="me_bottom_gd"></span></li>
		<li id="xinxi"><span class="me_bottom_xx"></span><span>信息</span><div class="me_xx_num"><strong>3</strong></div></li>
		<li id="wo"><span class="me_bottom_me"></span><span class="me_active">我</span></li>
	</ul>
	<div class="fabu_background"></div>
	<div class="fabu_foot_box">
		<div class="fabu_xuqiu"><div class="xuqiu_pic"></div><div class="xuqiu_tx">发布需求</div></div>
		<div class="fabu_fangyuan"><div class="fangyuan_pic"></div><div class="fangyuan_tx">发布房源</div></div>
	</div>
	<div class="guanbi"></div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/tiaozhuan.js"></script>
	<script src="../../public/js/me.js"></script>
</body>
</html>