<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/login/login.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/denglu.css">
	<title>docus_xl</title>
</head>
<body>
	<div class="header">
		<span class="header_left ps_title"><strong>个人资料</strong></span>	
	</div>
	<div class="ps_bd">
		<div class="ps_img"></div>
		<span class="ps_nicheng"><strong>普旌地产</strong></span><br>
		<span class="ps_qianming">以前喜欢一个人，现在喜欢一个人</span><br>
		<button class="ps_edit">编辑个人资料</button>
	</div>
	<ul class="ps_information">
		<li><span class="ps_term">企业邮箱/公司总机</span><span class="ps_content">823546415@qq.com</span></li>
		<li><span class="ps_term">联系人</span><span class="ps_content">张三</span></li>
		<li><span class="ps_term">联系方式</span><span class="ps_content">18956024163</span></li>
		<li><span class="ps_term">微信号码</span><span class="ps_content">18956024163</span></li>
	</ul>
	<div class="ps_foot">
		<div class="ps_foot_picb"><div class="ps_foot_pic"></div><span class="ps_pic_name">微信二维码</span></div>
		<div class="ps_foot_picb"><div class="ps_foot_pic"></div><span class="ps_pic_name">营业执照</span></div>
		<div class="ps_foot_picb"><div class="ps_foot_pic"></div><span class="ps_pic_name">租售代理协议</span></div>
	</div>
</body>
</html>