<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/login/login.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/zhucetianxie.css">
	<title>docus_xl</title>
</head>
<body>
	<div class="header">
		<span class="header_left"><strong>忘记密码</strong></span>	
	</div>
	<div class="srk_box2">
		<div class="srk_geshi"><div class="srk_lbox"><span class="srk_name"></span><span class="srk_mc">账号：</span><input class="srk_input" type="text" placeholder="请输入您的手机号"></div></div>
		<div class="srk_geshi"><div class="srk_lbox"><span class="srk_yzword"></span class="srk_mc"><span>验证码：</span><input class="srk_input" type="text" placeholder="请输入验证码"></div><div class="srk_rbox"><button class="srk_hqyzm" id="srk_djs">获取验证码</button></div></div>
		<div class="srk_geshi"><div class="srk_lbox"><span class="srk_password"></span><span class="srk_mc">密码：</span><input class="srk_input" type="password" placeholder="请输入您的登录密码"></div></div>
		<div class="srk_geshi noborder"><div class="srk_lbox"><span class="srk_password"></span><span class="srk_mc">密码：</span><input class="srk_input" type="password" placeholder="请输入您的登录密码"></div></div>
	</div>
	<div class="btn_zhuce_box">
	<button class="btn_zhuce">确定</button>
	</div>
	<script src="../../public/js/djs.js"></script>
</body>
</html>