<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/xinxi_xiaoxi.css">
	<title>docus_xl</title>
</head>
<body>
	<div class="header"><div class="xinxi_title"><span class="xinxi_xx active">消息</span><span class="xinxi_tz">通知</span><span class="xinxi_xq">需求<sup>3</sup></span></div></div>
		<ul class="xinxi_bd">
			<li>
				<div class="xinxi_bd_top"><span class="xinxi_bd_title"><strong>你眼中“醉美夜滨江”摄影征集启动啦！</strong></span></div>
				<div class="xinxi_bd_middle">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</div>
				<div  class="xinxi_bd_foot"><span class="xinxi_bd_timekong"></span><span class="xinxi_bd_time">08/04/13:06</span></div>
			</li>
			<li>
				<div class="xinxi_bd_top"><span class="xinxi_bd_title"><strong>你眼中“醉美夜滨江”摄影征集启动啦！</strong></span></div>
				<div class="xinxi_bd_middle">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</div>
				<div  class="xinxi_bd_foot"><span class="xinxi_bd_timekong"></span><span class="xinxi_bd_time">08/04/13:06</span></div>
			</li>
			<li>
				<div class="xinxi_bd_top"><span class="xinxi_bd_title"><strong>你眼中“醉美夜滨江”摄影征集启动啦！</strong></span></div>
				<div class="xinxi_bd_middle">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</div>
				<div  class="xinxi_bd_foot"><span class="xinxi_bd_timekong"></span><span class="xinxi_bd_time">08/04/13:06</span></div>
			</li>
			<li>
				<div class="xinxi_bd_top"><span class="xinxi_bd_title"><strong>你眼中“醉美夜滨江”摄影征集启动啦！</strong></span></div>
				<div class="xinxi_bd_middle">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</div>
				<div  class="xinxi_bd_foot"><span class="xinxi_bd_timekong"></span><span class="xinxi_bd_time">08/04/13:06</span></div>
			</li>
		</ul>
		<ul class="me_bottom">
		<li><span class="me_bottom_sy"></span><span>首页</span></li>
		<li><span class="me_bottom_yy"></span><span>预约</span></li>
		<li><span class="me_bottom_gd"></span></li>
		<li><span class="me_bottom_xx"></span><span class="me_active">信息<div class="me_xx_num"><strong>3</strong></div></span></li>
		<li><span class="me_bottom_me"></span><span>我</span></li>
	</ul>
</body>
</html>