<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/yuyue.css">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
<title>Cloud_house-杭州小蓓网络科技有限公司</title>
</head>
<body>
	<div class="header">
		<span class="header_right"><strong>预约</strong></span>
	</div>
	<ul class="yuyue_content_box">
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
		<li class="yuyue_bgbox">
		<div class="yuyue_each_box">
			<div class="yuyue_each_massage">
				<div class="yuyue_each_pic"></div>
				<div class="yuyue_each_tx">
					<div class="yuyue_each_title_box">
						<span class="title_appellation">先生/女士您好：</span><span class="title_time">08/03/16:02</span>
					</div>
					<div class="yuyue_each_content">
						<div class="each_content">我想看<span class="content_iptt">【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
						<div class="each_time">看房时间：08/08</div>
					</div>
				</div>
			</div>
			<div class="yuyue_btn"><button class="jiedan_btn">接单</button><span class="yijiedan">已接单，待反馈</span></div>
		</div>
		<div class="yuyue_delete">删除</div>
		</li>
	</ul>

	<ul class="me_bottom">
		<li id="shouye"><span class="me_bottom_sy"></span><span>首页</span></li>
		<li id="yuyue"><span class="me_bottom_yy"></span><span class="me_active">预约</span></li>
		<li id="fabu"><span class="me_bottom_gd"></span></li>
		<li id="xinxi"><span class="me_bottom_xx"></span><span>信息<div class="me_xx_num"><strong>3</strong></div></span></li>
		<li id="wo"><span class="me_bottom_me"></span><span>我</span></li>
	</ul>
	<div class="fabu_background"></div>
	<div class="fabu_foot_box">
		<div class="fabu_xuqiu"><div class="xuqiu_pic"></div><div class="xuqiu_tx">发布需求</div></div>
		<div class="fabu_fangyuan"><div class="fangyuan_pic"></div><div class="fangyuan_tx">发布房源</div></div>
	</div>
	<div class="guanbi"></div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script src="../../public/js/fx.js"></script>
	<script src="../../public/js/yuyue.js"></script>
	<script src="../../public/js/tiaozhuan.js"></script>
</body>
</html>