<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/zhucewancheng.css">
	<title>docus_xl</title>
</head>
<body>
	<div class="wancheng_box">
		<div class="wancheng_neirong">注册完成，等待后天确认</div>
		<div class="wancheng_queren">确认</div>
	</div>
</body>
</html>