<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/zhucewancheng.css">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
<title>Cloud_house-杭州小蓓网络科技有限公司</title>
</head>
<body>
	<div class="wancheng_box">
		<div class="wancheng_neirong">注册完成，等待后天确认</div>
		<div class="wancheng_queren">确认</div>
	</div>
</body>
</html>